@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?3tsr93');
  src:  url('../fonts/icomoon.eot?3tsr93#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?3tsr93') format('truetype'),
    url('../fonts/icomoon.woff?3tsr93') format('woff'),
    url('../fonts/icomoon.svg?3tsr93#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-host:before {
  content: "\e923";
}
.icon-forbid:before {
  content: "\e922";
}
.icon-alter:before {
  content: "\1f34c";
}
.icon-msg-1:before {
  content: "\e921";
}
.icon-clock2:before {
  content: "\e920";
}
.icon-download2:before {
  content: "\e91f";
}
.icon-pause:before {
  content: "\e91d";
}
.icon-ghost:before {
  content: "\e91e";
}
.icon-coin:before {
  content: "\e90a";
}
.icon-full-screen:before {
  content: "\e91c";
}
.icon-play:before {
  content: "\e91b";
}
.icon-more:before {
  content: "\e91a";
}
.icon-dance:before {
  content: "\e919";
}
.icon-drama .path1:before {
  content: "\e915";
  color: rgb(88, 213, 152);
}
.icon-drama .path2:before {
  content: "\e916";
  margin-left: -2em;
  color: rgb(255, 92, 122);
}
.icon-drama .path3:before {
  content: "\e917";
  margin-left: -2em;
  color: rgb(253, 222, 128);
}
.icon-drama .path4:before {
  content: "\e918";
  margin-left: -2em;
  color: rgb(252, 192, 56);
}
.icon-block:before {
  content: "\e90e";
}
.icon-person1:before {
  content: "\e914";
}
.icon-play-tv-1:before {
  content: "\e900";
}
.icon-down-1:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-up-1:before {
  content: "\e903";
}
.icon-flower:before {
  content: "\e904";
}
.icon-app:before {
  content: "\e905";
}
.icon-up-2:before {
  content: "\e906";
}
.icon-down-2:before {
  content: "\e907";
}
.icon-clock:before {
  content: "\e908";
}
.icon-play-history:before {
  content: "\e90b";
}
.icon-star-s:before {
  content: "\e90c";
}
.icon-home:before {
  content: "\e90d";
}
.icon-download:before {
  content: "\e90f";
}
.icon-cloud-download:before {
  content: "\e910";
}
.icon-star-b:before {
  content: "\e911";
}
.icon-game-1:before {
  content: "\e912";
}
.icon-transpond:before {
  content: "\e913";
}
.icon-print:before {
  content: "\78";
}
.icon-movie:before {
  content: "\3432";
}
.icon-coffee:before {
  content: "\e60d";
}
.icon-person:before {
  content: "\e61b";
}
.icon-play-tv-2:before {
  content: "\e65b";
}
.icon-play-tv-3:before {
  content: "\e6de";
}
.icon-recreation:before {
  content: "\e646";
}
.icon-game-2:before {
  content: "\e611";
}
.icon-folding-fan:before {
  content: "\e664";
}
.icon-headset:before {
  content: "\e603";
}
.icon-vidicon:before {
  content: "\e545";
}
.icon-guanggao:before {
  content: "\e602";
}
.icon-search:before {
  content: "\e620";
}
.icon-demon:before {
  content: "\e608";
}
.icon-The-gen:before {
  content: "\e609";
}
.icon-fashion:before {
  content: "\e6d7";
}
.icon-science:before {
  content: "\e501";
}
.icon-arrow-left:before {
  content: "\ea40";
}
